
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    background-color: #FF7AA2;
    text-align: center;
}

.gameCanvas{
    margin-top: 10px;
    position: absolute;
    display: flex;
    top:65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    text-decoration: underline;
    color: #FFE0E9
}


.score{
    font-size: xx-large;
    margin: 0;
    padding:0;
    color: #602437
}

h4{
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    color: #8A2846
}

p{
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0;
    color: #FFE0E9
}

button{
    border: 2px solid darkblue;
    font-family: fantasy;
    margin: 2px;
    border-radius: 10px;
    background-color: #B9375E;
    color: #FFE0E9
}


.snakeSize{
    color:#602437
}

.gameEnded {
    color: #522E38
}