
body{
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    background-color: antiquewhite;
    text-align: center;
}

.gameCanvas{
    margin-top: 10px;
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    text-decoration: underline;
}

.score{
    font-size: xx-large;
    border: 5px solid red;
    background: yellow;
}

button{
    border: 2px solid darkblue;
    font-family: fantasy;
}


.snakeSize{
    background: magenta
}

.gameEnded {
    background: lightblue
}